.terraform/
*.tfstate*
*.lock.hcl
uv.lock
*.env
*.env_encoded
*.venv
de-course-484302-f4fb526ccbf2.json
*.ipynb
/03-data-warehouse/compose/dags/__pycache__
/03-data-warehouse/compose/data/
/03-data-warehouse/compose/logs/
/03-data-warehouse/compose/plugins/
# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
/04-analytics-engineering/dbt_project/target/
/04-analytics-engineering/dbt_project/dbt_packages/
/04-analytics-engineering/dbt_project/logs/
# end dbt Cloud content

.bruin.yml
logs/runs
logs/*.log
__pycache__/
*.py[cod]

/05-data-platform/duckdb_data/

logs/queries

/06-batch/homework/taxi_zone_lookup.csv
/06-batch/homework/yellow_tripdata_2025-11.parquet
/06-batch/homework/yellow_partitioned/yellow_partitioned/